
#nav-logo, #google {
  height: 100%;
}

#header-image {
  margin-bottom: 10px;
}

#footer-header {
  width: 100%;
}

.content {
  border: 1px dashed red;
  box-sizing: border-box;
}

.row img {
  width: 100%;
}

.card-text {
  float: left;
}

.card-img-top {
  height: 10vh;
}
/*@media screen and (min-width:768px) {
  #second-row {
    float: right;
  }
}*/
